
.pagewrapper {
	max-width: 90%;
	margin-left: 10%;
}

body {
	font-family: Calibri, sans-serif;
	letter-spacing: 0.25px;
}

h3 {
	letter-spacing: 0.75px;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 15px;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 20px;
}

#output__team {
	border-spacing:15px;
	display:flex;
	flex-wrap: wrap;
	width: 100%;

}

.card {
	flex: 1 0 21%;
	border-style: solid;
	border-width: 1.5px;
	text-align: center;
	max-width: 21%;
	margin: 5px;
	position: relative;
	vertical-align: top;
	margin-top: 20px;
	padding-bottom: 50px;
}

.card__crown {
	height: 35px;
	width: 40px;
    position: absolute;
    top: 5px;
    right: 15px;
}

.card__circle {
	border-style: solid;
	border-width: 1.5px;
	border-radius: 50%;
	text-align: center;
	height:150px;
	width: 150px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 25px;
}

.fill {
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {

	max-width:105%;
	min-width: 150px;
	min-height: auto;

}

.card__name {
	text-align: center;

}

.card__description {
	padding: 0 10px;
	text-align: left;
	height: auto;
	min-height: 175px;
	display: block;
	font-size: 16px;
}
 
.card__rolecontainer {
	width: 100%;
	position:absolute;
    bottom:0;
}

.card__role {
	margin: 0 0 8px 8px;
	width: 35%;
	display: inline-block;
	float: left;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #ededed;
	padding: 4px;
	font-size: 14px;
	vertical-align: bottom;
}

.roles{
	width: 15%;
	border-style: solid;
	border-width: 1px;
	border-color: #ededed;
	text-align: center;
	margin-top: 15px;
	padding: 4px;
	font-size: 14px;
}


.crown {
	background: url("../images/crown.png") no-repeat;
    background-size: 100%;

}



