
.pagewrapper {
	max-width: 90%;
	margin-left: 10%;
}

body {
	font-family: Calibri, sans-serif;
	letter-spacing: 0.25px;
}

h3 {
	letter-spacing: 0.75px;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 15px;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card {
	border-style: solid;
	height: 525px;
	width: 30%;
	text-align: center;
	display: inline-block;
	margin: 5px;
	position: relative;
	vertical-align: top;
	margin-top: 20px;

}

.card__crown {
	height: 50px;
	width: 55px;
    position: absolute;
    top: 5px;
    right: 15px;
}

.card__circle {
	border-style: solid;
	border-radius: 50%;
	text-align: center;
	height:175px;
	width: 175px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 25px;
}

.fill {
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {

	max-width:105%;
	min-width: 175px;
	min-height: auto;

}

.card__name {
	text-align: center;

}

.card__description {
	padding: 0 8px;
	text-align: left;

}

.card__role {
	margin-left: 8px;
	margin-top: 15px;
	width: 35%;
	display: inline-block;
	float: left;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #ededed;
	padding: 4px;

}

.roles{
	width: 15%;
	border-style: solid;
	border-width: 1px;
	border-color: #ededed;
	text-align: center;
	margin-top: 15px;
	padding: 4px;
}


.crown {
	background: url("images/crown.png") no-repeat;
    background-size: 100%;

}

